<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
    <p>
	Site criado com o intuito de disponibilizar materiais para estudo sobre competições de programação,
	bem como postar notícias sobre competições.
	<a href="{{ "/sobre" | prepend:site.baseurl }}"> Saiba mais &rarr;</a>
    </p>
    <hr/>
    <p>
	O site é de código livre e está hospedado no Github. Todo o conteúdo dele está sob licença GPL e pode (e deve) ser utilizado à vontade.
	Tem algo legal para escrever? Alguma correção a ser feita? Contribua!
    </p>

   <p><a href="https://github.com/alvarob/competicoes-programacao-blog/" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> Ver no GitHub &rarr;</a></p>

</div>
